.headercolor {
  color: #F63854 !important;
}

#g-recaptcha {
  text-align: center;
  display: inline-block;
}

.logincard {
  width: auto !important;
  padding: 20px !important;
  transition: 0.3s !important;
}

.logincard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
}

.facebookicon {
  color: #3b5998 !important;
}

.facebookicon:hover, .twitter:hover, .gmail:hover {
  background-color: #F63854 !important;
  color: #ffffff !important;
}

.twitter {
  color: #00acee !important;
}

.gmail {
  color: #D44638 !important;
}

.pushleft {
  float: right !important;
}
