appdirs==1.4.4
asgiref==3.2.10
astroid==2.2.5
autopep8==1.4.4
blinker==1.4
certifi==2019.6.16
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
coverage==4.4.1
defusedxml==0.6.0
distlib==0.3.1
Django==2.2
django-allauth==0.39.1
django-cors-headers==3.5.0
django-extensions==3.0.9
django-filter==1.0.4
django-rest-auth==0.9.5
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
filelock==3.0.12
flake8==3.4.1
flake8-docstrings==1.1.0
flake8-polyfill==1.0.1
gunicorn==19.9.0
idna==2.8
iso8601==0.1.11
isort==4.3.21
itypes==1.1.0
Jinja2==2.9.6
lazy-object-proxy==1.4.1
mangopaysdk==3.8.3
Markdown==2.6.9
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.0.1
pep8==1.7.1
Pillow==8.0.1
pipenv==2020.8.13
promise==2.0.2
psycopg2-binary==2.8.6
py==1.4.34
pycodestyle==2.5.0
pydocstyle==2.0.0
pyflakes==1.5.0
PyJWT==1.7.1
pylint==2.3.1
pytest==3.2.1
pytest-cov==2.5.1
pytest-django==3.1.2
python3-openid==3.1.0
pytz==2020.1
requests==2.22.0
requests-oauthlib==1.2.0
setproctitle==1.1.10
simplejson==3.17.2
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
sqlparse==0.3.1
stripe==2.55.0
termcolor==1.1.0
typed-ast==1.4.0
typing==3.6.1
uritemplate==3.0.0
urllib3==1.25.3
virtualenv==20.0.33
virtualenv-clone==0.5.4
whitenoise==5.2.0
wrapt==1.11.2
