.how-it-works-section {
  background-color: #ffffff;
}

.booking-card-title {
  line-height: 10px !important;
}

.booking-card-items-style {
  line-height: 15px !important;
  font-weight: normal !important;
}

.white-trash {
  color: white !important;
}

p {
    margin: 0 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.booking-card-delete-button {
  margin-bottom: 5px !important;
}

.how-it-works-tab .menu {
  text-align: center !important;
  width: 25% !important;
  margin: 0 auto !important;
}


.how-it-works-tab .menu .item {
  text-align: center !important;
  display:inline-block !important;
  margin:0 auto !important;
}

.how-it-works-tab .menu .item:hover{
  border-color: #F63854 !important;
}

.how-it-works-tab .menu .active{
  border-color: #F63854 !important;
  color: #F63854 !important;
}

.sub-btn-style {
  margin: 0px 15px 0px 15px !important;
}

@media only screen and (min-width: 951px) {
  .booking-card-max-h {
    overflow: hidden !important;
    height: 180px !important;
  }
  p {
    margin: 0 0 .7em !important;
  }
  .booking-card-img {
    max-width: 100% !important;
    max-height: 180px !important;
    object-fit: contain;
  }
}


@media only screen and (min-width: 768px) and (max-width: 950px) {
  .how-it-works-tab .menu {
    text-align: center !important;
    width: 40% !important;
    margin: 0 auto !important;
  }
  .booking-card-max-h {
    overflow: hidden !important;
    height: 430px !important;
  }
  .booking-card-img {
    max-width: 100% !important;
    max-height: 180px !important;
    object-fit: contain;
  }
  p {
    margin: 0 0 .1em !important;
  }
}

@media only screen and (min-width: 361px) and (max-width: 767px) {
  .how-it-works-tab .menu {
    text-align: center !important;
    width: 50% !important;
    margin: 0 auto !important;
  }
  .booking-card-img {
    max-width: 100% !important;
    max-height: 180px !important;
    object-fit: contain;
  }
  p {
    margin: 0 0 .2em !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
  .how-it-works-tab .menu {
    text-align: center !important;
    width: 75% !important;
    margin: 0 auto !important;
  }
  .booking-card-max-h {
    overflow: hidden !important;
    height: 530px !important;
  }
  .booking-card-img {
    max-width: 100% !important;
    max-height: 180px !important;
    object-fit: contain;
  }
  p {
    margin: 0 0 .2em !important;
  }
}
