.how-it-works-section {
  background-color: #ffffff;
}

.booking-card-title {
  line-height: 10px !important;
}

.trip-card-item-style {
  line-height: 13px !important;
  font-weight: normal !important;
}

.how-it-works-tab .menu {
  text-align: center !important;
  width: 25% !important;
  margin: 0 auto !important;
}

p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.how-it-works-tab .menu .item {
  text-align: center !important;
  display:inline-block !important;
  margin:0 auto !important;
}

.how-it-works-tab .menu .item:hover{
  border-color: #F63854 !important;
}

.how-it-works-tab .menu .active{
  border-color: #F63854 !important;
  color: #F63854 !important;
}

.trip-card-button {
  margin: auto !important;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  float: right !important;
}

.trip-card-delete-button {
  margin-bottom: 5px !important;
}

/* .home-text-img-card-grid:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
} */

.trip-card-img {
  max-width: 100% !important;
  max-height: 180px !important;
  object-fit: contain;
}

@media only screen and (min-width: 951px) {
  .trip-card-max-h {
    overflow: hidden !important;
    height: 180px !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 950px) {
  .trip-card-button {
    margin: auto !important;
    display: block !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }
  .trip-card-max-h {
    overflow: hidden !important;
    height: 280px !important;
  }
  .trip-card-img {
    max-width: 100% !important;
    max-height: 180px !important;
    object-fit: contain;
  }
}

@media only screen and (min-width: 361px) and (max-width: 767px) {
  .trip-card-button {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    margin: auto !important;
    display: block !important;
  }
  .trip-card-img {
    max-width: 100% !important;
    max-height: 180px !important;
    object-fit: contain;
  }
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
  .trip-card-button {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    margin: auto !important;
    display: block !important;
  }
  .trip-card-max-h {
    overflow: hidden !important;
    height: 430px !important;
  }
  .trip-card-img {
    max-width: 100% !important;
    max-height: 180px !important;
    object-fit: contain;
  }
}
