.headercolor {
  color: #F63854 !important;
}

#g-recaptcha {
  text-align: center;
  display: inline-block;
}

.anchor-style {
  color: #29B6F6;
  text-decoration: underline;
  cursor: pointer;
}

.no-pad {
  padding-top: 0px !important;
  padding-bottom: 6px !important;
}

.txt-align-l {
  text-align: left;
}

.txt-align-l input {
  margin-right: 5px;
}

.w-100 > div {
  width: 100% !important;
}

.logincard {
  width: auto !important;
  padding: 20px !important;
  transition: 0.3s !important;
}

.logincard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
}

.facebookicon {
  color: #3b5998 !important;
}

.facebookicon:hover, .twitter:hover, .gmail:hover {
  background-color: #F63854 !important;
  color: #ffffff !important;
}

.twitter {
  color: #00acee !important;
}

.gmail {
  color: #D44638 !important;
}

.step-button {
  margin-top: 30px !important;
  margin-left: 10px !important;
}

.form-details-display {
  display: block !important;
  text-align: left !important;
  word-wrap: break-word !important;
}

.checkboxes-align-left {
  margin-top: 10px !important;
  text-align: left !important;
}

.custom-field-style {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    -o-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    display: block;
    cursor: text;
    background-color: #ffffff !important;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
