  .push-left {
    text-align: left !important;
  }

  .anchor-style {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  /* .error-on-input{
    position: relative;
    left: -218px;
  } */

  a.disabled {
    pointer-events: none;
    color: #ccc;
}
