/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 8%;
  background: lighten(#222629, 5%);
}
.container {
  width: 450px;
  margin: 0 auto;
  position: relative;
}
.product-card {
  background: #222629;
  color: white;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  align-items: flex-start;
  position: relative;
  box-shadow: 0px 0px 5px 1px darken(#222629, 11%);

  div {
    flex: 1 1 0%;
    align-self: stretch;
  }
  .image {
    background: #f5f5f5;
    position: relative;
    border-radius: 7px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
  .card-content {
    padding: 10px 20px;

    h3 {
      font-size: 1.4rem;
      font-weight: 700;
      color: darken(white, 20%);
    }
    p {
      margin: 15px 0px;
      color: #868686;
    }
    .store-purchase {
      display: flex;
      flex-direction: row;

      .price {
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 0.4rem;
        color: darken(white, 8%);
      }
      button {
        border: none;
        background: darken(#ed9d45, 10%);
        padding: 8px 15px;
        border-radius: 5px;
        float: right;
        font-size: 0.9rem;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
          background: #ed9d45;
        }
      }
    }
  }
} */
