.lang-size {
  width: 40px !important;
  height: 40px !important;
  }

  .lang-image {
    max-width: 30px !important;
    height: 30px !important;
    vertical-align: middle !important;
    cursor: pointer !important;
  }

  .lang-span {
    max-width: 30px !important;
    height: 30px !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
  }

  .lang-en::after {
      content: " | " !important;
  }

  .lang-fr::before {
      content: " | " !important;
  }

  .active-lang {
    text-decoration: underline !important;
  }

  .lang-span:hover {
    font-weight: bold !important;
  }

  .languageSwitcher{
  min-width: 600px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background: radial-gradient(circle, #dfffdb 50%, white 50%) !important;
  background-position-y: -390px !important;
	margin: auto 0 !important;
	background-size:  100% 800px !important;
	background-repeat: no-repeat !important;
}

h2{
  font-family: 'Marck Script', cursive !important;
  margin: 5px !important;
  font-size: 58px !important;
}

p{
  font-family: 'Roboto', sans-serif !important;
  /* text-transform: uppercase !important; */
  font-weight: 700 !important;
  &.small{
    font-size: 13px !important;
  }
}

.lang{
  /* display: flex !important; */
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
  width: 60px !important;
  /* width: 40px !important; */
}

.lang-dropdown {
  position: relative !important;
  left: 0 !important;
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.lang:hover > .lang-dropdown{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  li{
    margin: 0 !important;
    display: block !important;
    padding: 5px 0 !important;
    div:hover{
      width: 45px !important;
      height: 45px !important;
    }
  }
}
