.notif_card_btns {
  float:right;
}


@media only screen and (min-width: 951px) {
  .notif-card {
    height: 80px !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 950px) {
  .notif-card {
    height: 80px !important;
  }
}

@media only screen and (min-width: 361px) and (max-width: 767px) {
  .notif-card {
    height: 170px !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
  .notif-card {
    height: 170px !important;
  }
}
