.main {
  width: 100% !important;
  }

  .menuclass {
  background: #fff !important;
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 30px !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-size: 14px !important;
}

.floatingNav {
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06) !important;
}

.layoutcontainer {
  width: 80% !important;
  margin: auto !important;
}

.menuitemstyle {
  /* background: none !important; */
  font-weight: 100 !important;
  height: 60px !important;
}

.menulogoitemstyle {
  font-weight: 100 !important;
  height: 60px !important;
}

.menuitemstyle:hover {
  background: none !important;
  color: #F63854 !important;
  border-bottom: 2px solid #F63854 !important;
}

.menulogoitemstyle:hover {
  background: none !important;
}

@media (min-width: 48em) {
  .menuitemstyle {
    display: none !important;
  }
}

.dropdownitemstyle:hover {
  background-color: #F63854 !important;
}

.footercontainer {
}

.linkstyle {
  color: #333 !important;
  font-size: 14px !important;
  line-height: 25px !important;
}

.linkstyle:hover {
  color: #F63854 !important;
}

.reserved {
  color: #F63854 !important;
}

.footer-icons {
  color: #000000 !important;
}


body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 48em) {
  .main {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .ui.container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
}
