.main {
  width: 100% !important;
  }

.red {
  color: red !important;
}

.pad-13 {
  padding-top: 13px !important;
}


  .menuclass {
  background: #fff !important;
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 30px !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-size: 14px !important;
}

.stickyshadow {
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06) !important;
}

.layoutcontainer {
  width: 80% !important;
  margin: auto !important;
}

.menuitemstyle {
  /* background: none !important; */
  font-weight: 100 !important;
  height: 60px !important;
}

.menulogoitemstyle {
  font-weight: 100 !important;
  height: 60px !important;
}

.menuitemstyle:hover {
  background: none !important;
  color: #F63854 !important;
  border-bottom: 2px solid #F63854 !important;
}

.menulogoitemstyle:hover {
  background: none !important;
}

@media (min-width: 48em) {
  .menuitemstyle {
    display: none !important;
  }
}

.dropdownitemstyle:hover {
  background-color: #F63854 !important;
}

.linkstyle {
  color: #333 !important;
  font-size: 14px !important;
  line-height: 25px !important;
}

.linkstyle:hover {
  color: #F63854 !important;
}

.reserved {
  color: #F63854 !important;
}

.footer-icons {
  color: #000000 !important;
}


body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* menuheader */

.menuheader {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.menuheader div {
  width: 80%;
  margin: auto;
}

.menuheader ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.menuheader li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  font-weight: 100 !important;
  height: 60px !important;
}

.menuheader li a:hover,
.menuheader .menu-btn:hover {
  background: none !important;
  color: #F63854 !important;
  border-bottom: 2px solid #F63854 !important;
  cursor: pointer !important;
}

.menuheader .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.menuheader .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.menuheader .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menuheader .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menuheader .menu-icon .navicon:before,
.menuheader .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menuheader .menu-icon .navicon:before {
  top: 5px;
}

.menuheader .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menuheader .menu-btn {
  display: none;
}

.menuheader .menu-btn:checked ~ .menu {
  max-height: 240px;
  overflow-y: auto;
}

.menuheader .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menuheader .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menuheader .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menuheader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menuheader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Hide Dropdowns by Default */
.menuheader .menu ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06) !important;
}

/* Display Dropdowns on Hover */
.menuheader .menu li:hover > ul {
	display:inherit;
}

.profile-image {
  height: 35px !important;
  width: 35px !important;
  vertical-align: middle !important;
}

/* Fisrt Tier Dropdown */
.menuheader .menu ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
.menuheader .menu ul ul li {
	position: relative;
	top:-60px;
	left:170px;
}


/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }

/* 48em = 768px */

@media (min-width: 48em) {
  .menuheader li {
    float: left;
  }
  .menuheader li a {
    padding: 20px 10px;
  }
  .menuheader .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menuheader .menu-icon {
    display: none;
  }
}

@media only screen and (min-width: 950px) {
  .buttoncolor {
    margin-top: 10px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .menuheader div {
    width: 90%;
    margin: auto;
  }
  .buttoncolor {
    margin-top: 10px !important;
  }
}

@media only screen and (min-width: 361px) and (max-width: 767px) {
  .ui.container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }

  .menuheader div {
    width: 95%;
    margin: auto;
  }
  .buttoncolor {
    margin-top: 10px !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
  .ui.container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }

  .menuheader div {
    width: 100%;
    margin: auto;
  }

  .buttoncolor {
    margin-top: 10px !important;
  }
}

/*** From deleted components***/
.headercolor {
  color: #F63854 !important;
  margin-top: 30px !important;
}

.discountheader {
  margin-top: 30px !important;
}

#g-recaptcha {
  text-align: center;
  display: inline-block;
}

.signupcard {
  width: auto !important;
  padding: 20px !important;
  transition: 0.3s !important;
}

.signupcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
}

.buttoncolor {
  background-color: #F63854 !important;
  color: #ffffff !important;
  border-radius: 30px !important;
  border: 1px solid #F63854 !important;
}

.buttoncolor a {
  color: #ffffff !important;
}

.buttoncolor:hover a {
  background-color: #ffffff !important;
  color: #F63854 !important;
}

.buttoncolor:hover {
  background-color: #ffffff !important;
  color: #F63854 !important;
  border: 1px solid #F63854 !important;
  border-radius: 30px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease 0s !important;
  transform: translateY(-2px) !important;
}

.facebookicon {
  color: #3b5998 !important;
}

.facebookicon:hover, .twitter:hover, .gmail:hover {
  background-color: #F63854 !important;
  color: #ffffff !important;
}

.twitter {
  color: #00acee !important;
}

.gmail {
  color: #D44638 !important;
}





/* #updateBooking .modal-dialog-scrollable .modal-content {
  width: 90%;
} */